{% extends 'base.html' %}
{% load staticfiles %}
{% load myfilter %}
{% block left_content %}
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      function fathercom(e){
        var form = $(e).parent('.body').parent('.father').siblings('.form').children('.hf');
        var te = $(e).siblings('.comid');
        var pid = $(e).parent('.body').parent('.father').siblings('.form').children('.testpid');
        console.log(form);
        pid.val(te.html());
        form.show();
        form.focus();
      }


      function isHidden(e){
        // var pid = $(e).siblings('.testpid');
        // // console.log(pid);
        // pid.value = 'lalalalalalala';
        // pid.val('sssssssslalalalal')
        // pid.focus();
        // console.log($(e));
        var vDiv = $(e).parent().parent('.reply').parent('.subcom').siblings('.form').children('.hf');
        console.log(vDiv);
        var te = $(e).siblings('.comid');
        // var pid = $(e).parent('.sub').siblings('.form').children('.testpid');
        // pid.val(te.html())
        var pid = $(e).parent().parent('.reply').parent('.subcom').siblings('.form').children('.testpid');
        pid.val(te.html());
        vDiv.show();
        vDiv.focus();

      }
      function myOnfocus(e){
        console.log('focusfocus');
        var pid = $(e).siblings('.testpid');
        var fa = $(e).parent('.form').siblings('.father').children('.body').children('.comid');
        // var art = $(e).parent('.form').siblings('.father').children('.body').children('.articleid');
        console.log(fa.val());
        console.log(pid.val());
        var article = $(e).siblings('.articleid');
        // article.val(art.html())
        if (pid.val() == ''){
          console.log('空');
          pid.val(fa.html());
        }
        // var pa = $(e).parent('.form').siblings('.sub').children('.subcom');
        // console.log(pa);
        // // console.log(pid);
        // // pid.value = pa.html();
        // pid.val(pa.html());
      }
      function myOnblur(e){
        console.log('blurblur');
        var pid = $(e).siblings('.testpid');
        console.log(pid.value);


      }      

    </script>
  <style type="text/css">
      .hf {
        width: 500px;
        height: 50px;
        border: 2px solid #f6dda4;
        display: none;
      }

      .message_inputc {
        width: 600px;
        height: 100px;
        border: 2px solid #66ccff;
        margin-left: 30px;

      }


  </style>
    <div class="postdate">
      <div class="month">{{ article.date_publish | month_to_upper }}</div>
      <div class="date">{{ article.date_publish | date:'d' }}</div>
    </div>
    <div class="title">
        <h2><a href="" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h2>
        <div class="postmeta">
          <span class="postmeta_author">{{ article.user.username }}</span>
          <span class="postmeta_category"><a href="" rel="category">{{ article.category.name }}</a></span>
          <span class="postmeta_time">{{ article.date_publish | date:'Y-m-d' }}</span>
        </div>
    </div>
        <div class="entry">
          {{ article.content | safe }}
        </div>
        <span class="tags">
            {% for tag in article.tag.all %}
            <a href="?tag={{ tag.name }}" rel="tag">{{ tag.name }}</a>
            {% endfor %}
        </span>
        <div class="info">
        Address:  <a href="{{ SITE_URL }}blog/article/?id={{ article.id }}" rel="bookmark" title="{{ article.title }}">{{ SITE_URL }}blog/article/?id={{ article.id }}</a>
        </div>

      <div class="commentstitle"><h3 id="comments"><span class="commentsnumber">only 1 comment</span> untill now</h3></div>

      <ol class="commentlist">
          {% for comment in comment_fathor_list %}
          <div class="allcom">
          <li id="comment-59418" class="father">
                <div class="top"><a href='{{ comment.url }}' rel='external nofollow' class='url'>{{ comment.user.username }}</a><span class="time"> @ <a href="#comment-59418" title="">{{author}}  {{ comment.date_publish | date:'Y-m-d H:i:s' }}</a></span></div>
                <!-- <div><a href="{% url 'commentgo' %}"><img alt='' src='{% static 'images/default.jpg' %}' class='avatar avatar-32 photo' height='32' width='32' /></a></div> -->

                <div class="body"> <p>{{ comment.content }}</p> 
                <p class="comid" style="display: none;">{{comment.id}}</p>
                <button onclick="fathercom(this)" class="hghhf">回复</button>
                </div>
                
<!--                     <form method="post" id="form">
                      {% csrf_token %}
                    <p>{{ huifu.comment }}</p>
                    <p>{{ huifu.article }}</p>
                    <p>{{ huifu.father }}</p>
                      <input type="submit" name="ok" value="发布">
                    </form> -->
          </li>
          {% for children_comment in comment.children_comment %}
          <li id="comment-59542" class="subcom">
                <div class="reply">
                  <div class="top"><a href="{{ children_comment.url }}" rel="external nofollow" class="url">{{ children_comment.user.username }}</a><span class="time"> @ <a href="#comment-59543" title="">{{children_comment.father_name}}  {{ children_comment.date_publish | date:'Y-m-d H:i:s' }}</a></span></div>
                  <div>
                <!--   <img alt="" src="{% static 'images/default.jpg' %}" class="avatar avatar-32 photo" height="32" width="32"> -->
                    <p class="comid"  style="display: none;">{{children_comment.id}}</p>
                    <button onclick="isHidden(this)" class="hghhf">回复</button>
                  </div>

                  <div class="body">{{ children_comment.content }} </div>
                </div>
          </li>
          {% endfor %}


          <form action="{% url 'huifu' %}" method="post" class="form">
                      {% csrf_token %}
                    {{ huifu.huifu }}
                    {{ huifu.article }}
                    {{ huifu.pid }}
                      <input type="submit" name="ok" value="发布">
          </form>
          </div>
          {% endfor %}
      </ol>

    <div id="commentform">
    <h3 id="respond">Add your comment now</h3>
    {% if not request.user.is_authenticated %}
    <div class='login_info'>还没有登陆？可以登录后再评论哦。<b><a href="{% url 'login' %}">&raquo;去登录</a>&nbsp;<a href="{% url 'register' %}">&raquo;去注册</a></b></div>
    {% else %}
    <div class='login_info'>
    <a href="{% url 'logout' %}">hhhhhhhhhhhhhh</a>
      <a href="{% url 'logout' %}">
          <b>{{ request.user.username }}</b>,快来写点评论吧!
          </a> &nbsp;
      <a href="{% url 'logout' %}">注销</a>
    </div>
    {% endif %}


    <form action="{% url 'comment_post' %}" method="post">
    {% csrf_token %}

    <p>{{ comment_form.comment }}</p>
    <p>what what</p>

    <p>
        {{ comment_form.article }}
        <input name="submit" type="submit" id="submit" tabindex="5" value="Submit" class="button" />
    </p>
    </form>
    </div>
{% endblock %}